/* MusicCard.css */
.music-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .music-card img {
    width: 100%; /* カードの幅に合わせて調整 */
    height: auto; /* 画像の比率を保持 */
    max-width: 200px; /* 画像の最大幅 */
    border-radius: 5px;
    margin-bottom: 10px; /* 画像とテキスト間の余白 */
  }
  
  .music-card-content {
    padding: 10px;
    text-align: center;
  }
  