.audioPlayer {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 1000 !important;
  background-color: #fff; /* 背景色 */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* 影をつける */
}

.rhap_container {
    position: relative;
    margin-top: 150px; /* アイコンの高さの半分 */
}

.current-song-image {
  position: absolute; /* この行を追加して、current-song-imageを絶対配置にします */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; 
  height: 100px; 
  z-index: 1; 
}


.current-song-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}




  