/* NFTDisplay.css */
.nft-display {
  margin: 20px;
  overflow: hidden; /* はみ出しを許可 */
}

.nft-group {
  margin-bottom: 20px;
}

/* スライダー設定 */
.nft-group .nft-slider .slick-slide > div {
  margin: 0 10px;
  flex-shrink: 0; /* スライド要素が縮小しないように設定 */
}

.nft-group .nft-slider .slick-slide .nft-card-container {
  max-width: 200px; /* カードの最大幅 */
}

/* スライダーのデフォルトスタイルをオーバーライド */
.slick-slider .slick-track,
.slick-slider .slick-list {
  /* スライダーのトラックとリストのスタイルを調整 */
  display: flex;
}

.slick-slide {
  /* 各スライドのスタイルを調整 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 非スライダー設定 */
.nft-group .nft-grid {
  display: flex;
  flex-wrap: nowrap; /* カードを横に並べる */
  overflow-x: auto; /* 横スクロールを有効化 */
  margin: 0 -10px;
}

.nft-group .nft-grid .nft-card-container {
  flex: 0 0 auto; /* カードのサイズが変わらないように設定 */
  max-width: 200px; /* カードの最大幅 */
  margin: 0 10px;
}

/* スマートフォン表示時の調整 */
@media (max-width: 640px) {
  .nft-group .nft-slider .slick-slide > div {
    margin-right: 10px; /* スマートフォン表示時の余白調整 */
  }
}
