/* CollectionBanner.css */
.collection-banner {
    margin-bottom: 20px;
    text-align: left; /* PCでは左寄せ */

  }
  
  .collection-banner-title {
    text-align: left; /* タイトルを左寄せに */
    font-size: 30px; /* フォントサイズ */
    margin-bottom: 0; /* タイトルとバナーの間に余白 */
    color: #333; /* テキストの色 */
    padding-left: 20px; /* 左側に余白を設定 */
  }

.collection-banner .slick-slide > div {
    margin: 0 10px;
    flex-shrink: 0; /* スライド要素が縮小しないように設定 */
  }

  .collection-banner .banner-card-container {
    flex: 0 0 auto; /* カードのサイズが変わらないように設定 */
    max-width: 800px; /* カードの最大幅を指定 */
    margin: 0 10px; /* カード間の余白 */
  }
  
/* スマートフォン表示時の調整 */
@media (max-width: 640px) {
    .collection-banner {
        text-align: center; /* スマートフォンでは中央寄せ */
    }
    .collection-banner .slick-slide > div {
      margin-right: 10px; /* スマートフォン表示時の余白調整 */
    }
  }