.App {
  text-align: center;
  padding: 5px;
  padding-bottom: 80px; /* 音楽プレーヤーの高さに応じて調整 */
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
