.combined-audio-player {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* 背景を半透明に */
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex; /* Flexboxを使用してアイテムを横に並べる */
  justify-content: center; /* 中央揃え */
  align-items: center; /* 縦方向の中央揃え */
}

.rhap_container {
  margin-right: 10px; /* 画像とプレーヤーコントロールの間に余白を追加 */
  opacity: 0.7; /* 80%の不透明度 */
}

/* ホバー時の不透明度 */
.rhap_container:hover {
  opacity: 1; /* ホバー時は不透明度を100%に */
}

.current-song-image {
  position: relative; /* 相対位置を指定 */
  margin-right: 5px; /* 画像とプレーヤーコントロールの間に余白を追加 */
  margin-left: 5px; /* 画像とプレーヤーコントロールの間に余白を追加 */

  margin-top: 20px; /* トップのマージンを調整して画像を下に移動 */

  width: 100px; /* 幅を100pxに設定 */
  height: 100px; /* 高さを100pxに設定 */
}

.current-song-image img {
  width: 80%; /* 幅を100%に設定 */
  height: 80%; /* 高さを100%に設定 */
  object-fit: cover; /* 画像のフィット方法を指定 */
  border-radius: 10%; /* 角を丸くする */
}

/* スマートフォン表示時の調整 */
@media (max-width: 640px) {
  .combined-audio-player {
    padding: 5px; /* スマートフォン表示時の上下のパディングをさらに狭くする */
  }

  .current-song-image {
    margin-top: 5px; /* 画像の上のマージンを狭くする */
    margin-bottom: 5px; /* 画像の下のマージンを狭くする */
    width: 60px; /* 画像の幅を小さくする */
    height: 60px; /* 画像の高さを小さくする */
  }

  .current-song-image img {
    width: 100%; /* 画像をコンテナに合わせて拡大 */
    height: 100%; /* 画像をコンテナに合わせて拡大 */
  }
}